#ytvid0,
#ytvid1,
#ytvid2,
#ytvid3,
iframe{
    margin-left: 70px;
    margin-top: 15px;
}

h2{
    text-align: center;
}

body, .jumbotron {
    background-color:#163b61;
    color: white;
}

button {
    background-color: darkgray;
    color: white;
}
#panelTitle {
    font-size: 20px;
}
#panelHeading {
    background-color: dimgrey;
}
#panel-body {
    background-color: darkred;
}

#product-info {
    color: black;
    border-width: 0;
}
#product-details {
    background-color: dimgrey;

    height: 40px;
    }
p {
    font-size: 20px;
}

.bb{ 
    margin-left: 0px;
    height: 275px;
    width: 500px;
}

.plus{ 
    margin-left: -120px;
    height: 200px;
    width: 200px;
}

.yt{ 
    height: 320px;
    width: 550px;
    margin-left: -50px;
    margin-top: -70px;
}

#submit2{
    margin-top: 20px;
}

/* CSS for modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    overflow: auto; /* Enable scroll if needed */
    color: black;
    margin-left: 175px;
    margin-top: 200px;
    background-color: transparent;
    border-style: none;
    box-shadow: none;

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}